uvicorn
sqlalchemy
databases
asyncpg
pydantic
passlib[bcrypt]
python-jose
httpx
psycopg2-binary
networkx
three
passlib 
fastapi-users 
fastapi[all]
bcrypt
APScheduler
scikit-learn 
pandas 
joblib
seaborn
imblearn